.next/
node_modules/
out/
.vercel/
*.tsbuildinfo
.env
.env.local
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.venv/
__pycache__/
*.pyc
storage/*.db
uploads/*
published/*
